@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Montserrat";
}

@media screen and (max-width: 767px) {
  .requisites, .team--info, .work--images, .contacts, .nav-bar {
    margin: 0 12px;
  }
}
@media screen and (min-width: 1920px) {
  .requisites, .team--info, .work--images, .contacts, .nav-bar {
    margin: 0 92px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .requisites, .team--info, .work--images, .contacts, .nav-bar {
    margin: 0 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .requisites, .team--info, .work--images, .contacts, .nav-bar {
    margin: 0 36px;
  }
}

.nav-bar {
  font-size: 16px;
  line-height: 24px;
  gap: 16px;
  display: flex;
}
.nav-bar__item {
  color: rgba(40, 40, 40, 0.6);
}
.nav-bar__item_active {
  color: #282828;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 124px;
  max-width: 1920px;
  gap: 24px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts {
    margin-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .contacts {
    margin-bottom: 64px;
  }
}
.contacts__title {
  font-size: 56px;
  font-weight: 600;
  line-height: 58px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .contacts__title {
    margin-top: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts__title {
    margin-top: 40px;
    font-size: 48px;
    line-height: 58px;
  }
}
@media (max-width: 767px) {
  .contacts__title {
    margin-top: 40px;
    font-size: 32px;
    line-height: 40px;
  }
}
.contacts__map {
  height: 696px;
  display: flex;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .contacts__map {
    margin-top: 56px;
  }
}
@media screen and (min-width: 1920px) {
  .contacts__map {
    height: 728px;
    margin-top: 56px;
    max-width: 1700px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts__map {
    flex-wrap: wrap;
    position: relative;
    gap: 32px;
    margin-top: 40px;
    height: 400px;
  }
}
@media (max-width: 767px) {
  .contacts__map {
    flex-wrap: wrap;
    position: relative;
    gap: 32px;
    margin-top: 32px;
    height: 280px;
  }
}
.contacts__map::before {
  height: 90%;
  width: 100%;
  content: "";
  filter: grayscale(100%);
  position: absolute;
  background-image: url(/images/map.png);
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .contacts__map::before {
    height: 696px;
  }
}
@media screen and (min-width: 1920px) {
  .contacts__map::before {
    height: 728px;
    max-width: 1920px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts__map::before {
    height: 400px;
    position: relative;
  }
}
@media (max-width: 767px) {
  .contacts__map::before {
    height: 280px;
    position: relative;
  }
}
.contacts__map .map__pin {
  position: absolute;
  right: 49%;
  top: 22%;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts__map .map__pin {
    top: 1%;
  }
}
@media (max-width: 767px) {
  .contacts__map .map__pin {
    top: 0px;
  }
}
.contacts__contacts--info {
  position: absolute;
  top: 250px;
  left: 6%;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 56px;
  background-color: #ffffff;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts__contacts--info {
    position: relative;
    top: 0;
    left: 0;
    background-color: #FAFAFA;
  }
}
@media (max-width: 767px) {
  .contacts__contacts--info {
    position: relative;
    top: 0;
    left: 0;
    background-color: #FAFAFA;
  }
}
.contacts__contacts--info .contacts--info__title {
  color: #282828;
  font-weight: 600;
  font-size: 32px;
}
@media (max-width: 767px) {
  .contacts__contacts--info .contacts--info__title {
    font-size: 20px;
  }
}
.contacts__contacts--info .contacts--info__phone {
  display: flex;
  justify-content: space-between;
}
.contacts__contacts--info .contacts--info__phone .phone__title {
  gap: 32px;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 767px) {
  .contacts__contacts--info .contacts--info__phone .phone__title {
    flex-wrap: wrap;
    gap: 16px;
  }
}
.contacts__contacts--info .contact--info__mail {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.contacts__contacts--info .title {
  font-size: 16px;
  line-height: 24px;
}
.contacts__contacts--info .title__head {
  font-weight: 600;
  color: #282828;
}
.contacts__contacts--info .title__body {
  font-weight: 400;
  color: #818181;
}
@media (max-width: 767px) {
  .contacts__contacts--info .title__body {
    font-size: 14px;
    line-height: 20px;
  }
}
.contacts__contacts--info .copy-button {
  flex-shrink: 0;
}
.contacts__contacts--info .copy-button:hover rect, .contacts__contacts--info .copy-button:hover path {
  stroke: #00A55A;
  cursor: pointer;
}
.contacts__contacts--info .contact--info__buttons {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  gap: 24px;
}
@media (max-width: 767px) {
  .contacts__contacts--info .contact--info__buttons {
    flex-wrap: wrap;
    gap: 16px;
  }
}
.contacts__contacts--info .contact--info__buttons .buttons_button {
  padding: 16px 26px;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 767px) {
  .contacts__contacts--info .contact--info__buttons .buttons_button {
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts__contacts--info .contact--info__buttons .buttons_button {
    width: 100%;
    justify-content: center;
  }
}
.contacts__contacts--info .contact--info__buttons .button_call-button {
  background-color: #00A55A;
  color: #FFFFFF;
}
.contacts__contacts--info .contact--info__buttons .button_map-button {
  background-color: #E5F6EE;
  color: #00A55A;
}
.contacts .contacts__notice {
  display: flex;
  position: absolute;
  gap: 16px;
  right: 6%;
  top: 30%;
  max-width: 510px;
  padding: 32px;
  background-color: #ffffff;
}
@media screen and (min-width: 1920px) {
  .contacts .contacts__notice {
    right: 10%;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts .contacts__notice {
    position: relative;
    justify-content: center;
    background-color: #FAFAFA;
    top: 0;
    right: 0;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .contacts .contacts__notice {
    position: relative;
    justify-content: center;
    background-color: #FAFAFA;
    top: 0;
    right: 0;
    max-width: 100%;
  }
}
.contacts .contacts__notice p {
  padding: 0;
  margin: 0;
  color: #818181;
  font-size: 14px;
  line-height: 20px;
}

.work--images__slider .slider {
  width: 100%;
  display: flex;
  gap: 40px;
  overflow-x: scroll;
}
.work--images__slider .slider::-webkit-scrollbar {
  display: none;
}
.work--images__slider .slider .slider__item img {
  width: 416px;
  height: 396px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1920px) {
  .work--images__slider .slider .slider__item img {
    width: 552px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .work--images__slider .slider .slider__item img {
    width: 552px;
  }
}
@media (max-width: 767px) {
  .work--images__slider .slider .slider__item img {
    width: 351px;
    height: 252px;
  }
}
.work--images__slider .slider__utils {
  display: flex;
  margin-top: 32px;
  align-items: center;
  gap: 30px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .work--images__slider .slider__utils {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .work--images__slider .slider__utils {
    margin-top: 24px;
  }
}
.work--images__slider .slider__utils .progress {
  width: 100%;
  height: 8px;
  background-color: #F2F2F2;
}
@media (max-width: 767px) {
  .work--images__slider .slider__utils .progress {
    height: 4px;
  }
}
.work--images__slider .slider__utils .progress__bar {
  width: 20%;
  height: 100%;
  background-color: #00A55A;
}
.work--images__slider .slider__utils .utils__buttons {
  display: flex;
  gap: 16px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .work--images__slider .slider__utils .utils__buttons {
    display: none;
  }
}
@media (max-width: 767px) {
  .work--images__slider .slider__utils .utils__buttons {
    display: none;
  }
}
.work--images__slider .slider__utils .utils__buttons .left--button_active {
  transform: rotate(180deg);
  display: none;
  cursor: pointer;
}
.work--images__slider .slider__utils .utils__buttons .left--button {
  cursor: auto;
}
.work--images__slider .slider__utils .utils__buttons .right--button {
  transform: rotate(180deg);
  display: none;
}
.work--images__slider .slider__utils .utils__buttons .right--button_active {
  cursor: pointer;
}

.team--info {
  margin-top: 124px;
}
.team--info__title > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team--info__title > div h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  color: #282828;
}
.team--info__title p {
  font-size: 18px;
  line-height: 28px;
  color: #282828;
  max-width: 848px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .team--info__slider--buttons {
    display: none;
  }
}
@media (max-width: 767px) {
  .team--info__slider--buttons {
    display: none;
  }
}
.team--info__body {
  display: flex;
  overflow-x: scroll;
}
.team--info__body::-webkit-scrollbar {
  display: none;
}
.team--info__content {
  width: 100%;
  display: flex;
  gap: 40px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .team--info__content {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .team--info__content {
    gap: 24px;
  }
}
@media (max-width: 767px) {
  .team--info__content {
    display: flex;
  }
}
.team--info .person--card {
  min-width: 404px;
  width: 404px;
  margin-top: 41px;
}
.team--info .person--card__person--img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 1;
  height: 404px;
  background-color: #FAFAFA;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .team--info .person--card__person--img {
    height: 416px;
  }
}
.team--info .person--card__person--img img {
  width: 324px;
  height: 366px;
}
.team--info .person--card__title {
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #D9D9D9;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}
.team--info .person--card__person--name {
  color: #282828;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.team--info__progress--bar {
  margin-top: 40px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .team--info__progress--bar {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .team--info__progress--bar {
    display: none;
  }
}
.team--info__progress--bar .progress {
  width: 100%;
  height: 8px;
  background-color: #F2F2F2;
}
@media (max-width: 767px) {
  .team--info__progress--bar .progress {
    height: 4px;
  }
}
.team--info__progress--bar .progress__bar {
  width: 20%;
  height: 100%;
  background-color: #00A55A;
}

.requisites {
  margin-top: 124px;
}
.requisites__head {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .requisites__head {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .requisites__head .requisites__download--button {
    display: none;
  }
}
.requisites__head--text {
  width: 770px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .requisites__head--text {
    width: 100%;
  }
}
.requisites__title {
  font-size: 56px;
  font-weight: 600;
  line-height: 68px;
  color: #282828;
}
@media screen and (min-width: 1920px) {
  .requisites__title {
    font-size: 48px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .requisites__title {
    font-size: 48px;
    line-height: 58px;
  }
}
@media (max-width: 767px) {
  .requisites__title {
    font-size: 32px;
    line-height: 40px;
  }
}
.requisites__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #818181;
}
.requisites__head--text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.requisites__body {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1920px) {
  .requisites__body {
    width: 1144px;
  }
}
.requisites__body .download--button {
  margin-top: 32px;
  display: none;
}
@media (max-width: 767px) {
  .requisites__body .download--button {
    display: flex;
  }
}
.requisites .requisites--table table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.requisites .requisites--table th:first-child, .requisites .requisites--table td:first-child {
  width: 416px;
  padding-left: 32px;
  color: #282828;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .requisites .requisites--table th:first-child, .requisites .requisites--table td:first-child {
    padding-left: 0px;
    width: 162px;
    font-size: 14px;
  }
}
.requisites .requisites--table td, .requisites .requisites--table th {
  border: 1px solid #D9D9D9;
  text-align: left;
}
@media (max-width: 767px) {
  .requisites .requisites--table td, .requisites .requisites--table th {
    border: none;
    border-bottom: 1px solid #D9D9D9;
  }
}
.requisites .requisites--table tr:hover td, .requisites .requisites--table tr:hover th {
  background-color: #f2f2f2;
}
.requisites .requisites--table tr td:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  color: #282828;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
}
.requisites .requisites--table tr td:nth-child(2) .copy--ico {
  display: none;
}
@media (max-width: 767px) {
  .requisites .requisites--table tr td:nth-child(2) {
    font-size: 14px;
  }
}
.requisites .requisites--table tr:hover td:nth-child(2) .copy--ico {
  display: block;
}

.download--button {
  display: flex;
  padding-left: 24px;
  background-color: #FAFAFA;
  gap: 24px;
  width: 416px;
  align-items: center;
}
.download--button__title h1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.download--button__title p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */