@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Montserrat";
}

@media screen and (max-width: 767px) {
  .work--images, .contacts, .nav-bar {
    margin: 0 12px;
  }
}
@media screen and (min-width: 1920px) {
  .work--images, .contacts, .nav-bar {
    margin: 0 92px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .work--images, .contacts, .nav-bar {
    margin: 0 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .work--images, .contacts, .nav-bar {
    margin: 0 36px;
  }
}

.nav-bar {
  font-size: 16px;
  line-height: 24px;
  gap: 16px;
  display: flex;
}
.nav-bar__item {
  color: rgba(40, 40, 40, 0.6);
}
.nav-bar__item_active {
  color: #282828;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 124px;
  gap: 24px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts {
    margin-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .contacts {
    margin-bottom: 64px;
  }
}
.contacts__title {
  font-size: 56px;
  font-weight: 600;
  line-height: 58px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .contacts__title {
    margin-top: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts__title {
    margin-top: 40px;
    font-size: 48px;
    line-height: 58px;
  }
}
@media (max-width: 767px) {
  .contacts__title {
    margin-top: 40px;
    font-size: 32px;
    line-height: 40px;
  }
}
.contacts__map {
  height: 696px;
  display: flex;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .contacts__map {
    margin-top: 56px;
  }
}
@media screen and (min-width: 1920px) {
  .contacts__map {
    height: 728px;
    margin-top: 56px;
    max-width: 1700px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts__map {
    flex-wrap: wrap;
    position: relative;
    gap: 32px;
    margin-top: 40px;
    height: 400px;
  }
}
@media (max-width: 767px) {
  .contacts__map {
    flex-wrap: wrap;
    position: relative;
    gap: 32px;
    margin-top: 32px;
    height: 280px;
  }
}
.contacts__map::before {
  height: 90%;
  width: 100%;
  content: "";
  filter: grayscale(100%);
  position: absolute;
  background-image: url(/public/images/map.png);
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .contacts__map::before {
    height: 696px;
  }
}
@media screen and (min-width: 1920px) {
  .contacts__map::before {
    height: 728px;
    max-width: 1920px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts__map::before {
    height: 400px;
    position: relative;
  }
}
@media (max-width: 767px) {
  .contacts__map::before {
    height: 280px;
    position: relative;
  }
}
.contacts__map .map__pin {
  position: absolute;
  right: 49%;
  top: 22%;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts__map .map__pin {
    top: 1%;
  }
}
@media (max-width: 767px) {
  .contacts__map .map__pin {
    top: 0px;
  }
}
.contacts__contacts--info {
  position: absolute;
  top: 250px;
  left: 6%;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 56px;
  background-color: #ffffff;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts__contacts--info {
    position: relative;
    top: 0;
    left: 0;
    background-color: #FAFAFA;
  }
}
@media (max-width: 767px) {
  .contacts__contacts--info {
    position: relative;
    top: 0;
    left: 0;
    background-color: #FAFAFA;
  }
}
.contacts__contacts--info .contacts--info__title {
  color: #282828;
  font-weight: 600;
  font-size: 32px;
}
@media (max-width: 767px) {
  .contacts__contacts--info .contacts--info__title {
    font-size: 20px;
  }
}
.contacts__contacts--info .contacts--info__phone {
  display: flex;
  justify-content: space-between;
}
.contacts__contacts--info .contacts--info__phone .phone__title {
  gap: 32px;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 767px) {
  .contacts__contacts--info .contacts--info__phone .phone__title {
    flex-wrap: wrap;
    gap: 16px;
  }
}
.contacts__contacts--info .contact--info__mail {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.contacts__contacts--info .title {
  font-size: 16px;
  line-height: 24px;
}
.contacts__contacts--info .title__head {
  font-weight: 600;
  color: #282828;
}
.contacts__contacts--info .title__body {
  font-weight: 400;
  color: #818181;
}
@media (max-width: 767px) {
  .contacts__contacts--info .title__body {
    font-size: 14px;
    line-height: 20px;
  }
}
.contacts__contacts--info .copy-button {
  flex-shrink: 0;
}
.contacts__contacts--info .copy-button:hover rect, .contacts__contacts--info .copy-button:hover path {
  stroke: #00A55A;
}
.contacts__contacts--info .contact--info__buttons {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  gap: 24px;
}
@media (max-width: 767px) {
  .contacts__contacts--info .contact--info__buttons {
    flex-wrap: wrap;
    gap: 16px;
  }
}
.contacts__contacts--info .contact--info__buttons .buttons_button {
  padding: 16px 26px;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 767px) {
  .contacts__contacts--info .contact--info__buttons .buttons_button {
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts__contacts--info .contact--info__buttons .buttons_button {
    width: 100%;
    justify-content: center;
  }
}
.contacts__contacts--info .contact--info__buttons .button_call-button {
  background-color: #00A55A;
  color: #FFFFFF;
}
.contacts__contacts--info .contact--info__buttons .button_map-button {
  background-color: #E5F6EE;
  color: #00A55A;
}
.contacts .contacts__notice {
  display: flex;
  position: absolute;
  gap: 16px;
  right: 2%;
  top: 1%;
  max-width: 510px;
  padding: 32px;
  background-color: #ffffff;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .contacts .contacts__notice {
    position: relative;
    justify-content: center;
    background-color: #FAFAFA;
    top: 0;
    right: 0;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .contacts .contacts__notice {
    position: relative;
    justify-content: center;
    background-color: #FAFAFA;
    top: 0;
    right: 0;
    max-width: 100%;
  }
}
.contacts .contacts__notice p {
  padding: 0;
  margin: 0;
  color: #818181;
  font-size: 14px;
  line-height: 20px;
}

.work--images__slider .slider__items {
  width: 100%;
  display: flex;
  gap: 40px;
  overflow-x: scroll;
}
.work--images__slider .slider__items .slider__item img {
  width: 416px;
  height: 396px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */